
			.titol {
							text-align: center;
			}

			#header {
				margin:auto;
				width:400px;
				font-family:Arial, Helvetica, sans-serif;
			}

			.nav {
				list-style-type: none;;
			}

			.nav > li {
				float:left;
			}

			.nav li a {
				background-color:#000;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}


			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}

			.nav li:hover > ul {
				display:block;
			}

			.nav li ul li {
				position:relative;
			}

			.nav li ul li ul {
				right:-140px;
				top:0px;
			}


      .llista {
								list-style-type: circle;
      }

			.taula {
							width:20%;
						 	margin-left: auto;
							margin-right: auto;
							border-width: 5px;
							border-color: red;

			}

      table, th, td {
                     border: 1px solid black;
      }

			.text {
							border-left: 6px solid cyan;
							background-color: lightgrey;

			}
