			#header {
				margin-right: auto;
				display: block;
				left: 10px;
				width: 127px;
				font-family:Arial, Helvetica, sans-serif;
				opacity: 0.7;
				margin-top: 10px;
			}

			#titol {
				margin-bottom: 10px;
				margin-top: 20px;
			}

			#title {
				position:relative;
				text-align: center;
				vertical-align: middle;
				font-family:Arial, Helvetica, sans-serif;
				padding: 10px;
				margin: 10px;
				opacity: 0.7;
				background-color:  #80bfff;
				margin-top: 30px;
			}

			* {
				  -moz-box-sizing: border-box;
				  -webkit-box-sizing: border-box;
				  box-sizing: border-box;
				  margin: 0;
				  padding: 0;
				}

				.item {
				  position: relative;
				  border: 1px solid #fff;
				  margin: 1%;
				  overflow: hidden;
				  width: 410px;
					float:left;
					margin-left: 110px;
				}
				.item img {
				  max-width: 100%;
				  -moz-transition: all 0.3s;
				  -webkit-transition: all 0.3s;
				  transition: all 0.3s;
				}
				.item:hover img {
				  -moz-transform: scale(1.1);
				  -webkit-transform: scale(1.1);
				  transform: scale(1.1);
				}

				.bottomleft {
			    position: absolute;
			    bottom: 8px;
			    left: 16px;
			    font-size: 18px;
					font-family:Arial, Helvetica, sans-serif;
					color: white;
				}

			.nav {
				list-style-type: none;
				position: relative;
				left: 10px;
			}

			.nav > li {
				float:left;
			}

			.fullscreen-bg {
    		position: fixed;
    		top: 10px;
    		right: 10px;
    		bottom: 10px;
    	left: 10px;
    		overflow: hidden;
    		z-index: -100;
			}

			.fullscreen-bg__video {
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			}

			.nav li a {
				background-color:#f2f2f2;
				color:#000;
				text-decoration:none;
				padding: 12px;
				display:block;
			}


			.nav li ul {
				display:none;
				position:absolute;
				list-style-type: none;
				left: 90px;
				padding-left: 20px;
				margin-top: -42px;
			}

			.nav li:hover > ul {
				display:block;
			}

			.nav li ul li {
				position:relative;
			}

			.nav li ul li ul {
				right:-140px;
				top:0px;
			}

			.background-color {
				opacity: 0.1;
			}
